Write a program to display a person's name, age and address in three different lines.

In [1]:
name = 'Chandan'
age = 23
address = 'Ganjam, Odisha'
print(name)
print(age)
print(address)

Chandan
23
Ganjam, Odisha

Wraite a program to swap two variables.

In [2]:
a = 10
b = 20
print('original value',a, b)
temp = a
a = b
b = temp
print('swapped variable',a, b)

original value 10 20
swapped variable 20 10

In [3]:
a = 10
b = 20
print('original value',a, b)
a,b = b,a
print('swapped variable',a, b)

original value 10 20
swapped variable 20 10

WAP to concert a float into integer.

In [4]:
float_num = 5.9
print(int(float_num))

5

WAP to take a details from a student for ID card and then print it in different lines.

In [6]:
name = input('Enter the name of the student: ')
age = int(input('Enter the age of the student: '))
grade = input('Enter the grade of the student: ')
phone = input('Enter the phone of the student: ')
email = input('Enter the email of the student: ')

print('Student Identity Card')
print('Name:', name)
print('Age:', age)
print('Grade:', grade)
print('Phone:', phone)
print('Email:', email)

Student Identity Card
Name Chandan
Age 23
Grade C
Phone 6372923833
Email chandankumarsahu409@gmail.com

WAP to take an use inpur as integer, them convert it into float.

In [5]:
num = int(input('Enter an integer: '))
num = float(num)
print(num)

5.0