WAP to swap first and forth element.

In [17]:
a = ['Ross', 'Rachel', 'Monica', 'Joe']
c = a.copy()
c[0], c[3] = c[3], c[0]
c

['Joe', 'Rachel', 'Monica', 'Ross']

WAP to add a new value at second position.

In [5]:
a.insert(1, 'Ram')
a

['Ross', 'Ram', 'Rachel', 'Monica', 'Joe']

WAP to delete a value from 3rd position.

In [6]:
a.pop(2)
a

['Ross', 'Ram', 'Monica', 'Joe']

In [19]:
b = [13, 7, 12, 10]

WAP to multiply all the numbers in the list.

In [22]:
mul = 1
for i in b:
    mul *= i
print(mul)

10920

WAP to get the largest number in the list.

In [29]:
b.sort()
b[-1]

13

WAP to get the smallest number of the list

In [30]:
b.sort()
b[0]

7